body{
    background-color: rgb(4, 15, 59);
}
.container{
    display:flex;
}
.boxtype1{
    background-color: rgb(9, 39, 137);
    display: flex;
    color: rgb(233, 233, 233);
    font-size: 24px;
    margin-top: 30px;
    margin-left: 2%;
    padding: 1%px;
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    width: fit-content;
    transition: 0.3s;
    margin-right: 10px;
    text-align: center;
}

.boxtype1:hover{
    background-color: rgb(13, 52, 183);
    transform: translateY(-5px);

}

.boxtype2{
    transition: 0.3s;
    height: 30%;
    width: fit-content;
    margin-top: 30px;
}
.boxtype2 img{
    border-radius: 25px;
    height: 30%;
    width: 35%;
    
}

.boxtype2:hover{
    background-color: rgb(13, 52, 183);
    transform: translateY(-5px);
}

.innerlink{
    margin: 2px;
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.3s;
}

.innerlink:hover{
    transform:translateY(-5px);
    background-color: rgb(78, 16, 133);
}